* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'segoe ui';
	background-color: #012e40;
}

a {
	text-decoration: none;
	color: #fff;
}

.nav {
	height: 50px;
	width: 100%;
	background-color: #011f26;
	position: relative;
}

.nav > .nav-header {
	display: inline;
}

.nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 1.5rem;
	color: #fff;
	padding: 10px 10px 10px 10px;
}
.nav-title a {
	text-decoration: none;
	color: #fff;
}

.nav > .nav-btn {
	display: none;
}

.nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
}

.nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
	display: none;
}

.slideshow {
	width: 625px;
	margin: 2em auto;
	overflow: hidden;
}

.slideshow-container {
	width: 2500px;
	font-size: 0;
	transition: 1s ease;
	height: 500px;
}

img,
.text-container {
	width: 625px;
	height: auto;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
}

.text-container {
	height: 225px;
	position: relative;
}

.text-container p {
	padding: 5px;
	font-family: 'Press Start 2P', cursive;
	color: #abbf0f;
	font-size: 1.5rem;
}

.slide {
	animation: slide 24s ease infinite;
}

.slide-responsive {
	display: none;
}

@keyframes slide {
	0% {
		transform: translateX(0%);
	}

	12.5% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(-25%);
	}

	37.5% {
		transform: translateX(-25%);
	}

	50% {
		transform: translateX(-50%);
	}

	62.5% {
		transform: translateX(-50%);
	}

	75% {
		transform: translateX(-75%);
	}

	87.5% {
		transform: translateX(-75%);
	}

	99% {
		transform: translateX(-75%);
	}

	100% {
		transform: translateX(0);
	}
}

@media (max-width: 768px) {
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 999;
	}
	.nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}
	.nav > .nav-btn > label:hover,
	.nav #nav-check:checked ~ .nav-btn > label {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.nav > .nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #333;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	.nav > .nav-links > a {
		display: block;
		width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
		z-index: 999;
	}
	.slideshow {
		display: none;
	}
	.slide-responsive {
		display: flex;
		width: 95%;
		flex-direction: column;
		margin: 2em auto;
		text-align: center;
	}
	.slide-responsive p {
		font-family: 'Press Start 2P', cursive;
		color: #abbf0f;
		width: 80%;
		margin: 0 auto 2em;
		text-align: center;
		line-height: 40px;
		font-size: 1.25rem;
	}
	.slide-responsive-imgs img {
		max-width: 100%;
		margin: 2em auto;
		border-radius: 5px;
	}
}
