<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>AprendeAlgo</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">
                      <a href="../../index.html">AprendeAlgo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="./1-intro.html" >HTML</a>
                  <a href="" >CSS</a>
                  <a href="" >JavaScript</a>
                </div>
              </div>
        </nav>
    </header>
    <section class="main-html">
        <nav class="sidebar">
          <div class="sidebar-tittle">
            <h4>HTML</h4>
          </div>
          <div class="sidebar-menu">
            <a href="./1-intro.html">Introducción a HTML</a>
            <a href="./2-que.html">¿Que es HTML?</a>
            <a href="./3-estructura.html">Estructura de HTML</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
          </div>
        </nav>
        <div class="main-container">
            <h1>Introduución a HTML</h1>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/rbuYtrNUxg4"></iframe>
            </div>
        </div>
        
        
    </section>
    <footer></footer>
</body>
</html>