<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap" rel="stylesheet">

    <title>AprendeAlgo</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">
                      <a href="../../index.html">AprendeAlgo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="./1-intro.html" >HTML</a>
                   
                   
                </div>
              </div>
        </nav>
    </header>
    <section class="main-html">
        <nav class="sidebar">
            <div class="sidebar-tittle">
                <h4>HTML</h4>
            </div>
            <div class="sidebar-menu">
                    <a href="./1-intro.html">Introducción a HTML</a>
                    <a href="./2-que.html">¿Que es HTML?</a>
                    <a href="./3-estructura.html">Estructura de HTML</a>
                    <a href="./4-titulos.html">Titulos</a>
                    <a href="./5-parrafos.html">Parrafos</a>
                    <a href="./6-enfasis.html">Enfasis </a>
                    <a href="./7-hypervinculo.html">Hipervínculo</a>
                    <a href="./8-imagenes.html">Imagenes</a>
                    <a href="./9-listas-ordenadas.html">Listas ordenadas</a>
                    <a href="./10-listas-no-ordenadas.html">Listas no ordenadas</a>
                    <a href="./11-listas-de-definiciones.html">Lista de definiciones</a>
                    <a href="./12-tablas.html">Tablas</a>
                    <a href="./13-tabla-encabezado.html">Tabla con encabezado</a>
                    <a href="./14-tabala-con-titulo.html">Tabla con titulo</a>
                    <a href="./15-combinacion-de-celdas.html">Tabla y combinación de celdas.</a>
                    <a href="./16-formulario.html">Formulario</a>
                    <a href="./17-input-type.html">Input type</a>
                    <a href="./18-textarea.html">Textarea</a>
                    <a href="./19-checkbox.html">Checkbox</a>
                    <a href="./20-radio.html">Radio</a>
                    <a href="./21-select.html">Select</a>
                    <a href="./22-button.html">Button</a>
                    <a href="./23-file.html">File</a>
                    <a href="./24-hidden.html">Hidden</a>
            </div>
        </nav>
        <div class="main-container">
            <h1>Lista de definiciones</h1>
            <div class="main-container-text">
                <p>
                    Como su nombre lo indica se utiliza para asociar un término y la definición del mismo. El navegador se encarga de destacar y separa el término y su definición.
                    <br><br>
                    Crearemos una lista con la definición de varios lenguajes de programación:
                    <br><br>
                </p>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Título de la página&lt;/title&gt;
&lt;meta charset="UTF-8"&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;dl&gt;
&lt;dt&gt;C++&lt;/dt&gt;
&lt;dd&gt;Es un lenguaje de programación, diseñado a mediados de 
los años 1980, por Bjarne Stroustrup, como extensión del lenguaje 
de programación C.&lt;/dd&gt;
&lt;dt&gt;Java&lt;/dt&gt;
&lt;dd&gt;Es un lenguaje de programación orientado a objetos desarrollado 
por Sun Microsystems a principios de los 90.&lt;/dd&gt;
&lt;dt&gt;JavaScript&lt;/dt&gt;
&lt;dd&gt;Es un lenguaje interpretado, es decir, que no requiere compilación, 
utilizado principalmente en páginas web, con una sintaxis semejante a la 
del lenguaje C.&lt;/dd&gt;
&lt;/dl&gt;
&lt;/body&gt;
&lt;/html&gt;                   
</pre>
                <a class="ejemplo-button" href="./ejemplos/e-lista-definiciones.html" target="_blank">Mira el resultado</a> 
                <p>
                    Como podemos observar intervienen más etiquetas que en los otros dos tipos de listas. Las marcas que encierran a la lista son &lt;dl&gt; (Definition List) y &lt;/dl&gt;
                    <br><br>
                    Ahora debemos poner a pares estos dos elementos &lt;dt&gt; (Definition Term) y &lt;dd&gt; (Definition Description)
                    <br><br>
                    El navegador se encarga de hacer el sangrado del contenido del elemento dt.
                    <br><br>
                    Para recordar los nombres de estas etiquetas HTML:
                    <br><br>
                    &lt;dl&gt; viene de definition list
                    <br><br>
                    &lt;dt&gt; viene de definition term
                    <br><br>
                    &lt;dd&gt; viene de definition description
                </p>
            </div>             
        </div>       
    </section>
    <footer></footer>
</body>
</html>