<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap" rel="stylesheet">

    <title>AprendeAlgo</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">
                      <a href="../../index.html">AprendeAlgo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="./1-intro.html" >HTML</a>
                   
                   
                </div>
              </div>
        </nav>
    </header>
    <section class="main-html">
        <nav class="sidebar">
            <div class="sidebar-tittle">
                <h4>HTML</h4>
            </div>
            <div class="sidebar-menu">
                    <a href="./1-intro.html">Introducción a HTML</a>
                    <a href="./2-que.html">¿Que es HTML?</a>
                    <a href="./3-estructura.html">Estructura de HTML</a>
                    <a href="./4-titulos.html">Titulos</a>
                    <a href="./5-parrafos.html">Parrafos</a>
                    <a href="./6-enfasis.html">Enfasis </a>
                    <a href="./7-hypervinculo.html">Hipervínculo</a>
                    <a href="./8-imagenes.html">Imagenes</a>
                    <a href="./9-listas-ordenadas.html">Listas ordenadas</a>
                    <a href="./10-listas-no-ordenadas.html">Listas no ordenadas</a>
                    <a href="./11-listas-de-definiciones.html">Lista de definiciones</a>
                    <a href="./12-tablas.html">Tablas</a>
                    <a href="./13-tabla-encabezado.html">Tabla con encabezado</a>
                    <a href="./14-tabala-con-titulo.html">Tabla con titulo</a>
                    <a href="./15-combinacion-de-celdas.html">Tabla y combinación de celdas.</a>
                    <a href="./16-formulario.html">Formulario</a>
                    <a href="./17-input-type.html">Input type</a>
                    <a href="./18-textarea.html">Textarea</a>
                    <a href="./19-checkbox.html">Checkbox</a>
                    <a href="./20-radio.html">Radio</a>
                    <a href="./21-select.html">Select</a>
                    <a href="./22-button.html">Button</a>
                    <a href="./23-file.html">File</a>
                    <a href="./24-hidden.html">Hidden</a>
            </div>
        </nav>
        <div class="main-container">
            <h1>Formulario</h1>
            <div class="main-container-text">
                <p>
                    Un formulario permite que el visitante al sitio cargue datos y sean enviados al servidor.
                    <br><br>
                    Si recien comienza en el mundo del desarrollo de páginas web es recomendable primero aprender y conocer todos los elementos para la creación de formularios en HTML y en un paso posterior estudiar la registración en el servidor
                    <br><br>
                    Veamos la sintaxis básica para crear un formulario donde ingresemos nuestro nombre.
                    <br><br>
                    Para crear un formulario debemos utilizar el elemento form, que tiene marca de comienzo y fin. Dentro de la marca form veremos otros elementos para crear botones, editores de línea, cuadros de chequeo, radios de selección etc.
                    <br><br>
                    Confeccionaremos un formulario para el ingreso de nuestro nombre y un botón para el envío del dato ingresado al servidor:                             
                </p>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Prueba de formulario&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;form action="registrardatos.php" method="post"&gt;
    Ingrese su nombre:
    &lt;input type="text" name="nombre" size="20"&gt;
    &lt;br&gt;
    &lt;input type="submit" value="enviar"&gt;
&lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;                   
</pre>
                <a class="ejemplo-button" href="./ejemplos/e-formulario.html" target="_blank">Mira el resultado</a> 
                <p>
                    Veamos detenidamente la estructura de un formulario elemental, lo primero la apertura de la marca form donde debemos definir dos propiedades (action y method):
                    <br><br>
                    &lt;form action="registrardatos.php" method="post"&gt;
                    <br><br>
                    La propiedad action se inicializa con el nombre de la página que contiene el programa que procesará los datos en el servidor. Como no conocemos la sintaxis de un lenguaje de servidor almacené en este sitio una página codificada en PHP que recibe los datos del formulario y los imprime en una nueva página (recordar que en este curso no se ve como programar en el servidor)
                    <br><br>
                    Todo los formularios que implemento y los que usted implementará como ejercicios deben llamar a esta página: "/registrardatos.php" más adelante cuando conozca un lenguaje de servidor podrá almacenarlos en una base de datos, consultar otros datos, modificar datos existentes etc.
                    <br><br>
                    La segunda propiedad que debemos inicializar es method. Esta propiedad puede almacenar únicamente dos valores (post o get)
                    <br><br>
                    Normalmente un formulario se envía mediante post (los datos se envían con el cuerpo del formulario) En caso de utilizar get los datos se envían en la cabecera de la petición de la página, utilizando el método get estamos limitados en la cantidad de datos a enviar, no asi con el método post.
                    <br><br>
                    Ahora veamos el cuadro de texto donde se ingresa el nombre:
                    <br><br>
                    Ingrese su nombre:
                    <br>
                    &lt;input type="text" name="nombre" size="20"&gt;
                    <br>
                    &lt;br&gt;
                    <br>
                    El mensaje "Ingrese su nombre:" es un texto fijo.
                    <br><br>
                    El elemento input permite definir un cuadro de texto (editor de línea) si asignamos a la propiedad type el valor "text".
                    <br><br>
                    Todo cuadro de texto debe inicializar la propiedad name con un nombre para el cuadro de texto. Este es un dato fundamental para poder recuperar el dato ingresado en el servidor (por ejemplo mediante PHP)
                    <br><br>
                    Por último inicializamos la propiedad size con el valor 20, esto significa que el cuadro de texto se dimensiona para permitir mostrar 20 caracteres (no se limita la cantidad de caracteres a ingresar por parte del visitante sino la cantidad de caracteres que se pueden visualizar)
                    <br><br>
                    Seguidamente:
                    <br><br>
                    &lt;input type="submit" value="enviar"&gt;
                    <br><br>
                    También mediante el elemento input definimos un botón para el envío de datos al servidor. Debemos inicializar la propiedad type con el valor submit, con esto ya tenemos un botón para el envío de datos.
                    <br><br>
                    La propiedad value almacena la etiqueta que debe mostrar el botón.
                    <br><br>
                    Finalmente cerramos el formulario:
                    <br><br>
                    &lt;/form&gt;
                </p>
            </div>             
        </div>       
    </section>
    <footer></footer>
</body>
</html>