<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap" rel="stylesheet">


    <title>AprendeAlgo</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">
                      <a href="../../index.html">AprendeAlgo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="#" >HTML</a>
                  <a href="" >CSS</a>
                  <a href="" >JavaScript</a>
                </div>
              </div>
        </nav>
    </header>
    <section class="main-html">
        <nav class="sidebar">
          <div class="sidebar-tittle">
            <h4>HTML</h4>
          </div>
          <a href="./2-que.html">¿Que es HTML?</a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
        </nav>
        <div class="main-container">
            <h1>¿Que es HTML?</h1>
            <div class="main-container-text">
                <p>
                    HTML, siglas en inglés de HyperText Markup Language, hace referencia al lenguaje de marcado para la elaboración de páginas web.
                    <br><br>
                    Todos nosotros a lo largo de nuestra vida hemos interactuado con diferentes sitios o aplicaciones web, ya sea para buscar información, para conversar con nuestros amigos, entre muchas otras cosas más. Incluso, ahora mismo lo estás haciendo mientras lees este artículo. Si has llegado hasta aquí, es porque te interesa saber la definición de HTML y para ello será necesario comprender cómo está relacionado el término HTML con lo que ves en tu navegador web (Ej. Google Chrome, Mozilla Firefox, Safari, etc).
                    <br><br>
                    HTML no es un lenguaje de programación, esto debes tenerlo muy en claro desde el principio, HTML es un lenguaje de marcado de hipertexto o “HyperText Markup Language” por el desarrollo de sus iniciales en inglés, básicamente este lenguaje se escribe en su totalidad con elementos, estos elementos están constituidos por etiquetas, contenido y atributos, que explicaremos de una manera más detallada en algunas líneas más abajo.
                    <br><br>
                    HTML es un lenguaje que interpreta el navegador web para mostrar los sitios o aplicaciones web tal y como estamos acostumbrados. En la Imagen 1 verás cómo el navegador nos muestra un sitio web y en la Imagen 2 verás cómo se ve en lenguaje HTML.
                </p>
                <img src="" alt="">
            </div>
            
        </div>
        
        
    </section>
    <footer></footer>
</body>
</html>