<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap" rel="stylesheet">


    <title>AprendeAlgo</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                  <div class="nav-title">
                      <a href="../../index.html">AprendeAlgo</a>
                  </div>
                </div>
                <div class="nav-btn">
                  <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                  </label>
                </div>
                
                <div class="nav-links">
                  <a href="./1-intro.html" >HTML</a>
                  <a href="" >CSS</a>
                  <a href="" >JavaScript</a>
                </div>
              </div>
        </nav>
    </header>
    <section class="main-html">
        <nav class="sidebar">
            <div class="sidebar-tittle">
                <h4>HTML</h4>
            </div>
            <div class="sidebar-menu">
                <a href="./1-intro.html">Introducción a HTML</a>
                <a href="./2-que.html">¿Que es HTML?</a>
                <a href="./3-estructura.html">Estructura de HTML</a>
                <a href="./4-titulos.html">Titulos</a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </nav>
        <div class="main-container">
            <h1>Titulos</h1>
            <div class="main-container-text">
                <p>
                        Otros elementos HTML muy utilizados son para indicar los títulos, contamos con los elementos:
                        <br><br>
                        &lt;h1&gt;
                        <br><br>
                        &lt;h2&gt;
                        <br><br>
                        &lt;h3&gt;
                        <br><br>
                        &lt;h4&gt;
                        <br><br>
                        &lt;h5&gt;
                        <br><br>
                        &lt;h6&gt;
                        <br><br> 
                        El título de mayor nivel es &lt;h1&gt;, es decir el que tiene normalmente una fuente de mayor tamaño.
                        <br><br>
                        Mira el siguiente ejemplo:
                        <br><br>
                </p>
                <pre>
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                    &lt;meta charset="UTF-8"&gt;
                    &lt;title&gt;Titulos&lt;/title&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    &lt;h1&gt;h1&lt;/h1&gt;
                    &lt;h2&gt;h2&lt;/h2&gt;
                    &lt;h3&gt;h3&lt;/h3&gt;
                    &lt;h4&gt;h4&lt;/h4&gt;
                    &lt;h5&gt;h5&lt;/h5&gt;
                    &lt;h6&gt;h6&lt;/h6&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;                      
                </pre>
                <a class="ejemplo-button" href="./ejemplos/e-titulos.html" target="_blank">Mira el resultado</a>
                
            </div>
            
        </div>
        
        
    </section>
    <footer></footer>
</body>
</html>